{% extends "layout.html" %}

{% block content %}
<article class="media content-section">
  <div class="media-body">

  <h2><a class="article-title"  href="https://www.youtube.com/watch?v=zZD99X_S7SA}">A beginning is a very delicate time... ✨</a></h2>
  <p class="article-content">Know then, that it is year 2021...
  The author is facing numerous challenges and attempts to ruin his future (or at least deprive him of sleep).

  Among them, there is one, the most dreadful of them all, lord of darkness - Antoni Dydej, Commander of the Internet Technologies...
  </p>
  <p>You can check out the blog author <a href="https://github.com/Tymotheus">here</a>. </p>
  </div>
</article>
{% endblock content %}
